<?xml version="1.0"?>
<config>
    <modules>
        <Learn_BulkImageUpload>
            <version>1.0.0</version>
        </Learn_BulkImageUpload>
    </modules>
    
    <frontend>
        <routers>
            <bulkimageupload>
                <use>standard</use>
                <args>
                    <module>Learn_BulkImageUpload</module>
                    <frontName>bulkimageupload</frontName>
                </args>
            </bulkimageupload>
        </routers>
    </frontend>
    
    <admin>
        <routers>
			<bulkimageupload>
				<use>admin</use>
				<args>
					<module>Learn_BulkImageUpload</module>
					<frontName>bulkimageupload</frontName>
				</args>
			</bulkimageupload>
        </routers>
    </admin>
    
    <adminhtml>
		<layout>
			<updates>
				<bulkimageupload>
					<file>learn/bulk_product_image_upload.xml</file>
				</bulkimageupload>
			</updates>
		</layout>	
    </adminhtml>
    
    <global>
        <models>
            <bulkimageupload>
                <class>Learn_BulkImageUpload_Model</class>
                <resourceModel>bulkimageupload_mysql4</resourceModel>
            </bulkimageupload>
            <bulkimageupload_mysql4>
                <class>Learn_BulkImageUpload_Model_Mysql4</class>
                <entities>
                    <bulkimageupload>
                        <table>bulk_product_image_upload</table>
                    </bulkimageupload>
                </entities>
            </bulkimageupload_mysql4>
        </models>
        
        <resources>
            <bulkimageupload_setup>
                <setup>
                    <module>Learn_BulkImageUpload</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bulkimageupload_setup>
            <bulkimageupload_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bulkimageupload_write>
            <bulkimageupload_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bulkimageupload_read>
        </resources>
        <blocks>
            <bulkimageupload>
                <class>Learn_BulkImageUpload_Block</class>
            </bulkimageupload>
        </blocks>
        <helpers>
            <bulkimageupload>
                <class>Learn_BulkImageUpload_Helper</class>
            </bulkimageupload>
        </helpers>
    </global>
	
	<default>
		<bulkimageupload_tab>
			<bulkimageupload_setting>
				<bulkimageupload_enable>1</bulkimageupload_enable>
				<bulkimageupload_separate>-BPIU-</bulkimageupload_separate>
			</bulkimageupload_setting>
		</bulkimageupload_tab>
	</default>
</config>